# --- Seguridad y Entorno ---
.env
*.env
.venv
env/
venv/
ENV/

# --- Python / Django ---
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
/static_root/
/media_root/

# --- Node / Frontend (React) ---
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Docker ---
.dockerignore

# --- Editores y Sistema ---
.vscode/
.idea/
.DS_Store
Thumbs.db